$primary-color: #363865;
$secondary-color: #1fb86e;
$dangerRed-color: #b81f1f;
$disabledGrey-color: #929292;

$default-dark__color: #343545;
$hover-dark__color: #424351;
$active-dark__color: #44465d;
$activehover-dark__color: #52546b;

$default-light__color: #ffffff;
$hover-light__color: #ececec;
$active-light__color: #e0eefb;
$activehover-light__color: #f1f8ff;
